# Numismatic Distribution in Imperial Roman Africa Shown Through Social Network Analysis

## Abstract

Brief summary of the whole study (around 60-120 words), summarising the salient parts of the sections below.

## Context

The context includes: the general field (e.g., literature, history, archaeology, tourism, biology, forensics, religious studies); the specific application (e.g., literary analysis, quantitative history, genetics, virology, forensics intelligence, tourism planning, biblical quantitative studies).

## Problem and Motivation

What are the problems you want to address? Why are those problems important (impact, theoretical and/ or practical needs, etc.)? What are the main contributions of the project?

## Datasets

How did you gather the data? Did you digitise it? How? Is the material publicly available? What tools did you use:
1. to handle (store, manipulate) the data and 
2. to compute measures on the data?

## Validity and Reliability

How closely does the model of your dataset represent reality (validity)?
How consistent is the model you assembled (reliability)?

## Results

What is the connection among: the gathered data, the applied measures, and the properties found?

## Critique

Do you think your work solves the problem presented above? To which extent (completely, what parts)? Why? What could you have done differently to answer your research problems (e.g., gather data with additional information, build your model differently, apply alternative measures)?

## Data Analysis

### Importing

In [89]:
import pandas as pd
data_frame = pd.read_csv('isaw-papers-13-data.csv')
data_frame

,Catalogue,Region,Findspot,Province,Type,Denomination,Weight,Year_min,Year_max,Mint_Year,Circulation,Terminal_date,Mint
0,1,Africa,Gafsa,Proconsularis,hoard,sestertius,21.07,104,111,108.0,152.0,259,Rome
1,2,Africa,Gafsa,Proconsularis,hoard,sestertius,21.11,116,117,117.0,143.0,259,Rome
2,3,Africa,Gafsa,Proconsularis,hoard,sestertius,23.27,116,117,117.0,143.0,259,Rome
3,4,Africa,Gafsa,Proconsularis,hoard,sestertius,25.42,119,138,129.0,131.0,259,Rome
4,5,Africa,Gafsa,Proconsularis,hoard,sestertius,21.81,119,138,129.0,131.0,259,Rome
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50965,50966,Africa,Segermes,Proconsularis,sitefind,antoninianus,1.46,270,270,270.0,NaN,NaN,Rome
50966,50967,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.09,270,270,270.0,NaN,NaN,Rome
50967,50968,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.57,270,275,272.5,NaN,NaN,Tripoli
50968,50969,Africa,Segermes,Proconsularis,sitefind,antoninianus,1.46,260,268,264.0,NaN,NaN,Rome
50969,50970,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.87,260,268,264.0,NaN,NaN,Rome

### Exploring and Cleaning: an iterative process

What I can immediately do is retrieve only the data that has as Region Africa.

In [78]:
df_africa = data_frame[data_frame['Region'] == 'Africa']
df_africa

,Catalogue,Region,Findspot,Province,Type,Denomination,Weight,Year_min,Year_max,Mint_Year,Circulation,Terminal_date,Mint
0,1,Africa,Gafsa,Proconsularis,hoard,sestertius,21.07,104,111,108.0,152.0,259,Rome
1,2,Africa,Gafsa,Proconsularis,hoard,sestertius,21.11,116,117,117.0,143.0,259,Rome
2,3,Africa,Gafsa,Proconsularis,hoard,sestertius,23.27,116,117,117.0,143.0,259,Rome
3,4,Africa,Gafsa,Proconsularis,hoard,sestertius,25.42,119,138,129.0,131.0,259,Rome
4,5,Africa,Gafsa,Proconsularis,hoard,sestertius,21.81,119,138,129.0,131.0,259,Rome
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50965,50966,Africa,Segermes,Proconsularis,sitefind,antoninianus,1.46,270,270,270.0,NaN,NaN,Rome
50966,50967,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.09,270,270,270.0,NaN,NaN,Rome
50967,50968,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.57,270,275,272.5,NaN,NaN,Tripoli
50968,50969,Africa,Segermes,Proconsularis,sitefind,antoninianus,1.46,260,268,264.0,NaN,NaN,Rome
50969,50970,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.87,260,268,264.0,NaN,NaN,Rome

In [90]:
Counter(df_africa['Type'])

Counter({'hoard': 34384, 'sitefind': 1175})

I want only hoards.

In [93]:
df_africa = data_frame[(data_frame['Region'] == 'Africa') & (data_frame['Type'] == 'hoard')]
df_africa

,Catalogue,Region,Findspot,Province,Type,Denomination,Weight,Year_min,Year_max,Mint_Year,Circulation,Terminal_date,Mint
0,1,Africa,Gafsa,Proconsularis,hoard,sestertius,21.07,104,111,108.0,152.0,259,Rome
1,2,Africa,Gafsa,Proconsularis,hoard,sestertius,21.11,116,117,117.0,143.0,259,Rome
2,3,Africa,Gafsa,Proconsularis,hoard,sestertius,23.27,116,117,117.0,143.0,259,Rome
3,4,Africa,Gafsa,Proconsularis,hoard,sestertius,25.42,119,138,129.0,131.0,259,Rome
4,5,Africa,Gafsa,Proconsularis,hoard,sestertius,21.81,119,138,129.0,131.0,259,Rome
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50955,50956,Africa,Banasa - oven,Mauretania Tingitana,hoard,antoninianus,NaN,270,275,272.5,2.5,275,Gaul/Italy
50956,50957,Africa,Banasa - oven,Mauretania Tingitana,hoard,antoninianus,NaN,270,275,272.5,2.5,275,Gaul/Italy
50957,50958,Africa,Banasa - oven,Mauretania Tingitana,hoard,antoninianus,NaN,270,275,272.5,2.5,275,Gaul/Italy
50958,50959,Africa,Banasa - oven,Mauretania Tingitana,hoard,antoninianus,NaN,270,275,272.5,2.5,275,Gaul/Italy
50959,50960,Africa,Banasa - oven,Mauretania Tingitana,hoard,antoninianus,NaN,270,275,272.5,2.5,275,Gaul/Italy

In [79]:
df_africa.info() # Index, Datatype and Memory information

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35559 entries, 0 to 50969
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Catalogue      35559 non-null  int64
 1   Region         35559 non-null  object
 2   Findspot       35559 non-null  object
 3   Province       35559 non-null  object
 4   Type           35559 non-null  object
 5   Denomination   35559 non-null  object
 6   Weight         952 non-null    object
 7   Year_min       35559 non-null  int64
 8   Year_max       35559 non-null  int64
 9   Mint_Year      35559 non-null  float64
 10  Circulation    34384 non-null  float64
 11  Terminal_date  34384 non-null  object
 12  Mint           35559 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 3.8+ MB

I understand that I <ins>need to change the type of some columns</ins>.

In [84]:
pd.to_numeric(df_africa['Weight'], errors='coerce')
# df_africa.dtypes
Counter(df_africa['Mint_Year'])

Counter({108.0: 3,
         117.0: 3,
         129.0: 12,
         118.0: 13,
         128.0: 15,
         150.0: 8,
         160.0: 226,
         153.0: 41,
         171.0: 15,
         163.0: 2,
         166.0: 14,
         177.0: 8,
         186.0: 56,
         193.0: 9,
         194.0: 13,
         195.0: 26,
         197.0: 7,
         198.0: 2,
         215.0: 7,
         220.0: 66,
         221.0: 7,
         223.0: 17,
         224.0: 13,
         225.0: 23,
         226.0: 48,
         228.0: 48,
         229.0: 33,
         230.0: 113,
         231.0: 50,
         232.0: 102,
         234.0: 229,
         235.0: 14,
         236.0: 14,
         237.0: 15,
         238.0: 60,
         239.0: 103,
         240.0: 124,
         242.0: 107,
         244.0: 49,
         245.0: 142,
         246.0: 176,
         247.0: 157,
         248.0: 94,
         249.0: 15,
         250.0: 269,
         251.0: 25,
         252.0: 490,
         256.0: 14,
         255.0: 11,
         214.0: 11,
         213.0: 62,
         211.0: 13,
         212.0: 1,
         217.0: 2,
         218.0: 4,
         222.0: 10,
         227.0: 63,
         233.0: 52,
         241.0: 487,
         243.0: 106,
         253.0: 27,
         254.0: 37,
         210.0: 7,
         71.0: 4,
         97.0: 42,
         115.0: 4,
         127.0: 1,
         135.0: 2,
         134.0: 1,
         142.0: 44,
         152.0: 1,
         154.0: 2,
         141.0: 24,
         164.0: 22,
         165.0: 100,
         168.0: 319,
         172.0: 29,
         169.0: 23,
         173.0: 8,
         176.0: 283,
         179.0: 17,
         182.0: 5,
         184.0: 13,
         187.0: 2,
         188.0: 1,
         191.0: 2,
         192.0: 139,
         196.0: 13,
         202.0: 147,
         78.0: 1,
         81.0: 4,
         96.0: 12,
         98.0: 10,
         100.0: 8,
         101.5: 16,
         102.0: 1,
         105.0: 1,
         107.0: 60,
         114.5: 65,
         113.0: 10,
         114.0: 7,
         116.0: 5,
         122.0: 4,
         126.5: 33,
         130.0: 3,
         133.0: 37,
         136.0: 30,
         128.5: 3,
         138.0: 8,
         139.0: 11,
         140.0: 6,
         145.0: 18,
         147.5: 5,
         148.5: 15,
         150.5: 6,
         152.5: 12,
         155.5: 13,
         156.5: 28,
         157.5: 10,
         158.5: 9,
         159.5: 14,
         178.0: 28,
         143.0: 422,
         141.5: 2,
         145.5: 31,
         154.5: 13,
         161.5: 85,
         162.5: 5,
         163.5: 15,
         165.5: 5,
         179.5: 5,
         161.0: 82,
         186.5: 14,
         207.0: 1,
         201.0: 6,
         170.5: 1179,
         168.5: 7,
         107.5: 203,
         127.5: 240,
         149.5: 289,
         160.5: 6,
         192.5: 1,
         194.5: 21,
         228.5: 98,
         236.5: 74,
         246.5: 363,
         156.0: 1,
         74.5: 8,
         88.5: 71,
         136.5: 168,
         131.5: 10,
         137.0: 11,
         143.5: 10,
         144.0: 38,
         151.5: 30,
         153.5: 4,
         162.0: 689,
         164.5: 16,
         167.0: 3,
         167.5: 12,
         170.0: 9,
         173.5: 9,
         174.0: 1,
         174.5: 52,
         175.0: 2,
         176.5: 49,
         178.5: 4,
         180.5: 188,
         177.5: 54,
         172.5: 2,
         175.5: 236,
         180.0: 41,
         181.0: 10,
         181.5: 8,
         183.0: 63,
         183.5: 59,
         184.5: 3,
         187.5: 23,
         188.5: 50,
         189.0: 5,
         190.0: 6,
         190.5: 8,
         191.5: 13,
         195.5: 14,
         200.5: 6,
         208.5: 1,
         211.5: 14,
         214.5: 6,
         196.5: 21,
         213.5: 1,
         215.5: 1,
         218.5: 5,
         221.5: 3,
         219.5: 1,
         220.5: 2,
         222.5: 2,
         223.5: 39,
         224.5: 12,
         225.5: 98,
         226.5: 49,
         227.5: 32,
         231.5: 21,
         235.5: 142,
         237.5: 153,
         238.5: 42,
         239.5: 124,
         243.5: 112,
         245.5: 95,
         248.5: 38,
         247.5: 39,
         250.5: 62,
         249.5: 50,
         253.5: 11,
         254.5: 17,
         65.5: 2,
         68.5: 1,
         70.0: 2,
         72.5: 3,
         73.0: 5,
         75.0: 6,
         76.0: 24,
         77.5: 3,
         78.5: 1,
         79.0: 4,
         80.0: 17,
         80.5: 2,
         82.0: 4,
         86.0: 2,
         88.0: 1,
         89.0: 4,
         90.5: 5,
         92.0: 1,
         92.5: 1,
         93.5: 3,
         95.5: 7,
         98.5: 7,
         115.5: 14,
         120.5: 9,
         109.5: 2,
         219.0: 1,
         229.5: 1,
         166.5: 11,
         199.5: 1,
         87.0: 3,
         85.0: 3,
         54.0: 1,
         48.0: 1,
         48.5: 1,
         46.0: 8,
         41.0: 2,
         31.5: 79,
         66.0: 1,
         67.5: 1,
         69.0: 10,
         69.5: 8,
         70.5: 4,
         91.0: 1,
         116.5: 5,
         197.5: 9,
         199.0: 5,
         205.5: 2,
         203.5: 23,
         208.0: 4,
         205.0: 86,
         207.5: 152,
         210.5: 63,
         217.5: 9,
         256.5: 299,
         260.5: 1801,
         259.0: 76,
         265.0: 2,
         269.0: 1585,
         270.0: 86,
         350.0: 1,
         400.0: 2,
         353.0: 1,
         387.5: 1,
         525.0: 4,
         535.0: 1,
         505.0: 1,
         647.5: 1,
         578.5: 1,
         625.5: 1,
         645.0: 1,
         47.5: 35,
         61.0: 6,
         34.5: 10,
         272.5: 12479,
         74.0: 57,
         279.0: 9,
         273.5: 2,
         29.5: 1,
         6.0: 1,
         72.0: 5,
         93.0: 2,
         89.5: 3,
         119.0: 11,
         185.5: 28,
         209.5: 42,
         201.5: 97,
         272.0: 1,
         110.5: 2,
         8.0: 1,
         90.0: 2,
         120.0: 13,
         206.0: 2,
         22.0: 2,
         49.5: 4,
         108.5: 1,
         35.0: 4,
         39.0: 4,
         103.0: 1,
         96.5: 1,
         169.5: 1,
         130.5: 21,
         144.5: 71,
         132.5: 3,
         182.5: 61,
         159.0: 122,
         264.0: 50,
         275.5: 6,
         284.0: 1,
         267.0: 2855,
         265.5: 481,
         257.0: 6,
         -6.5: 24,
         51.5: 64,
         273.0: 37,
         263.5: 154,
         129.5: 282,
         271.0: 1800,
         65.0: 2,
         84.0: 1,
         121.0: 3,
         151.0: 4,
         240.5: 1,
         242.5: 2,
         266.0: 3,
         267.5: 1,
         268.5: 1,
         269.5: 1,
         117.5: 2,
         200.0: 2,
         264.5: 5,
         271.5: 12,
         -18.0: 1,
         -4.0: 1,
         -50.0: 65,
         -37.0: 1,
         56.0: 1,
         22.5: 1,
         25.5: 2,
         -2.5: 1,
         281.0: 1,
         149.0: 5,
         5.0: 1,
         204.5: 1,
         258.0: 2,
         283.0: 1,
         216.0: 2,
         216.5: 2})

In [43]:
data_frame.describe() # Summary statistics for numerical columns

          Catalogue      Year_min      Year_max     Mint_Year   Circulation
count  50970.000000  50970.000000  50970.000000  50970.000000  49725.000000
mean   25485.500000    214.022562    228.742908    221.384383     28.376732
std    14713.915947     68.387254     58.383211     60.931625     37.482943
min        1.000000   -110.000000    -36.000000    -50.000000      0.000000
25%    12743.250000    161.000000    181.000000    170.500000      2.500000
50%    25485.500000    249.000000    253.000000    250.000000      9.500000
75%    38227.750000    268.000000    274.000000    271.000000     41.500000
max    50970.000000    643.000000    695.000000    647.500000    188.500000

Biased because first I need to change some types.

In [45]:
data_frame['Circulation'].mean()

28.37673202614379

In [46]:
data_frame.corr()

             Catalogue  Year_min  Year_max  Mint_Year  Circulation
Catalogue     1.000000  0.544889  0.592648   0.589592    -0.630690
Year_min      0.544889  1.000000  0.847129   0.966999    -0.821434
Year_max      0.592648  0.847129  1.000000   0.954451    -0.746200
Mint_Year     0.589592  0.966999  0.954451   1.000000    -0.819780
Circulation  -0.630690 -0.821434 -0.746200  -0.819780     1.000000

In [47]:
data_frame.count() # Returns the number of non-null values in each DataFrame column

Catalogue        50970
Region           50970
Findspot         50970
Province         37761
Type             50970
Denomination     50970
Weight           16355
Year_min         50970
Year_max         50970
Mint_Year        50970
Circulation      49725
Terminal_date    49725
Mint             50970
dtype: int64

In [48]:
data_frame.max()

Catalogue                     50970
Region                        Spain
Findspot                €piais-Rhus
Type                       sitefind
Denomination    unidentified bronze
Year_min                        643
Year_max                        695
Mint_Year                     647.5
Circulation                   188.5
Mint                        unknown
dtype: object

In [49]:
data_frame.min()

Catalogue                  1
Region                Africa
Findspot        Abbiar-Miggi
Type                   hoard
Denomination             AE2
Year_min                -110
Year_max                 -36
Mint_Year                -50
Circulation                0
Mint                 Antioch
dtype: object

In [50]:
data_frame.median()

Catalogue      25485.5
Year_min         249.0
Year_max         253.0
Mint_Year        250.0
Circulation        9.5
dtype: float64

In [51]:
data_frame.std()

Catalogue      14713.915947
Year_min          68.387254
Year_max          58.383211
Mint_Year         60.931625
Circulation       37.482943
dtype: float64

In [53]:
pd.isnull(data_frame)

,Catalogue,Region,Findspot,Province,Type,Denomination,Weight,Year_min,Year_max,Mint_Year,Circulation,Terminal_date,Mint
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50965,False,False,False,False,False,False,False,False,False,False,True,True,False
50966,False,False,False,False,False,False,False,False,False,False,True,True,False
50967,False,False,False,False,False,False,False,False,False,False,True,True,False
50968,False,False,False,False,False,False,False,False,False,False,True,True,False
50969,False,False,False,False,False,False,False,False,False,False,True,True,False

In [14]:
df_africa = data_frame[data_frame['Region'] == 'Africa']
df_africa

,Catalogue,Region,Findspot,Province,Type,Denomination,Weight,Year_min,Year_max,Mint_Year,Circulation,Terminal_date,Mint
0,1,Africa,Gafsa,Proconsularis,hoard,sestertius,21.07,104,111,108.0,152.0,259,Rome
1,2,Africa,Gafsa,Proconsularis,hoard,sestertius,21.11,116,117,117.0,143.0,259,Rome
2,3,Africa,Gafsa,Proconsularis,hoard,sestertius,23.27,116,117,117.0,143.0,259,Rome
3,4,Africa,Gafsa,Proconsularis,hoard,sestertius,25.42,119,138,129.0,131.0,259,Rome
4,5,Africa,Gafsa,Proconsularis,hoard,sestertius,21.81,119,138,129.0,131.0,259,Rome
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50965,50966,Africa,Segermes,Proconsularis,sitefind,antoninianus,1.46,270,270,270.0,NaN,NaN,Rome
50966,50967,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.09,270,270,270.0,NaN,NaN,Rome
50967,50968,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.57,270,275,272.5,NaN,NaN,Tripoli
50968,50969,Africa,Segermes,Proconsularis,sitefind,antoninianus,1.46,260,268,264.0,NaN,NaN,Rome
50969,50970,Africa,Segermes,Proconsularis,sitefind,antoninianus,2.87,260,268,264.0,NaN,NaN,Rome

In [16]:
from collections import Counter
mints = Counter(df_africa['Mint'])
mints

Counter({'Rome': 14376,
         'Lyon': 1,
         'Laodicea': 5,
         'Gaul/Italy': 19131,
         'unknown': 2012,
         'Cologne': 6,
         'Treves': 2,
         'Emesa': 1,
         'Sicily': 1,
         'Gaul': 5,
         'Milan': 15,
         'Antioch': 3,
         'Tripoli': 1})

In [25]:
mint_years = set()
for year in df_africa['Mint_Year']:
    mint_years.add(year)
mint_years

{-50.0,
 -37.0,
 -18.0,
 -6.5,
 -4.0,
 -2.5,
 5.0,
 6.0,
 8.0,
 22.0,
 22.5,
 25.5,
 29.5,
 31.5,
 34.5,
 35.0,
 39.0,
 41.0,
 46.0,
 47.5,
 48.0,
 48.5,
 49.5,
 51.5,
 54.0,
 56.0,
 61.0,
 65.0,
 65.5,
 66.0,
 67.5,
 68.5,
 69.0,
 69.5,
 70.0,
 70.5,
 71.0,
 72.0,
 72.5,
 73.0,
 74.0,
 74.5,
 75.0,
 76.0,
 77.5,
 78.0,
 78.5,
 79.0,
 80.0,
 80.5,
 81.0,
 82.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 88.5,
 89.0,
 89.5,
 90.0,
 90.5,
 91.0,
 92.0,
 92.5,
 93.0,
 93.5,
 95.5,
 96.0,
 96.5,
 97.0,
 98.0,
 98.5,
 100.0,
 101.5,
 102.0,
 103.0,
 105.0,
 107.0,
 107.5,
 108.0,
 108.5,
 109.5,
 110.5,
 113.0,
 114.0,
 114.5,
 115.0,
 115.5,
 116.0,
 116.5,
 117.0,
 117.5,
 118.0,
 119.0,
 120.0,
 120.5,
 121.0,
 122.0,
 126.5,
 127.0,
 127.5,
 128.0,
 128.5,
 129.0,
 129.5,
 130.0,
 130.5,
 131.5,
 132.5,
 133.0,
 134.0,
 135.0,
 136.0,
 136.5,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 141.5,
 142.0,
 143.0,
 143.5,
 144.0,
 144.5,
 145.0,
 145.5,
 147.5,
 148.5,
 149.0,
 149.5,
 150.0,
 150.5,
 151.0,
 151.5,
 152.0,
 152.5,
 153.0,
 153.5,
 154.0,
 154.5,
 155.5,
 156.0,
 156.5,
 157.5,
 158.5,
 159.0,
 159.5,
 160.0,
 160.5,
 161.0,
 161.5,
 162.0,
 162.5,
 163.0,
 163.5,
 164.0,
 164.5,
 165.0,
 165.5,
 166.0,
 166.5,
 167.0,
 167.5,
 168.0,
 168.5,
 169.0,
 169.5,
 170.0,
 170.5,
 171.0,
 172.0,
 172.5,
 173.0,
 173.5,
 174.0,
 174.5,
 175.0,
 175.5,
 176.0,
 176.5,
 177.0,
 177.5,
 178.0,
 178.5,
 179.0,
 179.5,
 180.0,
 180.5,
 181.0,
 181.5,
 182.0,
 182.5,
 183.0,
 183.5,
 184.0,
 184.5,
 185.5,
 186.0,
 186.5,
 187.0,
 187.5,
 188.0,
 188.5,
 189.0,
 190.0,
 190.5,
 191.0,
 191.5,
 192.0,
 192.5,
 193.0,
 194.0,
 194.5,
 195.0,
 195.5,
 196.0,
 196.5,
 197.0,
 197.5,
 198.0,
 199.0,
 199.5,
 200.0,
 200.5,
 201.0,
 201.5,
 202.0,
 203.5,
 204.5,
 205.0,
 205.5,
 206.0,
 207.0,
 207.5,
 208.0,
 208.5,
 209.5,
 210.0,
 210.5,
 211.0,
 211.5,
 212.0,
 213.0,
 213.5,
 214.0,
 214.5,
 215.0,
 215.5,
 216.0,
 216.5,
 217.0,
 217.5,
 218.0,
 218.5,
 219.0,
 219.5,
 220.0,
 220.5,
 221.0,
 221.5,
 222.0,
 222.5,
 223.0,
 223.5,
 224.0,
 224.5,
 225.0,
 225.5,
 226.0,
 226.5,
 227.0,
 227.5,
 228.0,
 228.5,
 229.0,
 229.5,
 230.0,
 231.0,
 231.5,
 232.0,
 233.0,
 234.0,
 235.0,
 235.5,
 236.0,
 236.5,
 237.0,
 237.5,
 238.0,
 238.5,
 239.0,
 239.5,
 240.0,
 240.5,
 241.0,
 242.0,
 242.5,
 243.0,
 243.5,
 244.0,
 245.0,
 245.5,
 246.0,
 246.5,
 247.0,
 247.5,
 248.0,
 248.5,
 249.0,
 249.5,
 250.0,
 250.5,
 251.0,
 252.0,
 253.0,
 253.5,
 254.0,
 254.5,
 255.0,
 256.0,
 256.5,
 257.0,
 258.0,
 259.0,
 260.5,
 263.5,
 264.0,
 264.5,
 265.0,
 265.5,
 266.0,
 267.0,
 267.5,
 268.5,
 269.0,
 269.5,
 270.0,
 271.0,
 271.5,
 272.0,
 272.5,
 273.0,
 273.5,
 275.5,
 279.0,
 281.0,
 283.0,
 284.0,
 350.0,
 353.0,
 387.5,
 400.0,
 505.0,
 525.0,
 535.0,
 578.5,
 625.5,
 645.0,
 647.5}